:root {
  --white-text: rgba(255, 255, 255, 1);

  --white-text-op60: rgba(255, 255, 255, 0.6);

  --grey-text: rgba(117, 117, 117, 1);

  --back-light-white: rgba(33, 33, 33, 1);

  --back-hero: rgba(47, 48, 58, 1);

  --back-team: rgba(245, 244, 250, 1);

  --back-footer: rgba(47, 48, 58, 1);

  --logo: rgba(33, 150, 243, 1);

  --fon: rgba(47, 48, 58, 1);

  --border-color: rgba(175, 177, 184, 1);
}
